.navigation-top {
    font-size: 14px;
    background-color: whitesmoke;
    font-size: 0.875rem;
    /* left: 0; */
    /* position: absolute; */
    /* right: 0; */
    /* width: 100%; */
    z-index: 3;
    justify-content: center;

}

.about,
.learn,
.daven,
.donate,
.event,
.my_account,
.news {
    color: black;
    margin: 17px;
    padding: 17px;
    font-weight: bold;
    font-size: 17px;
}

.about:hover,
.learn:hover,
.daven:hover,
.donate:hover,
.event:hover,
.my_account:hover,
.news:hover {
    color: gray;

}

.navigation-top , .nav{
    text-align: center;
    justify-content: center;
}

footer {
position: absolute;
left: 0;
bottom: 0;
height: 50%;
width: 100%;
}


.footer{
display: flex;
}

.footer-details{
display: list-item;
width: 50%;
text-align: center;
margin-top: 40px;


}

.footer-image{
width: 50%;
}
.footer-img{
width: 50%;
height: 50%;
margin-top: 70px;
} 
.footer-btn{
float: right;
margin-right: 40%;
border: none;
padding: 15px;
border-radius: 20px;
color: black;
background-color: white;
font-weight: bolder;
font-size: 20px;
font-style: italic;
}